<div class="banner-block">
    <div class="wave-animation">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
                </path>
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7"></use>
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)"></use>
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)"></use>
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff"></use>
            </g>
        </svg>
    </div>
    <div class="container banner-area">
        <div class="row align-items-center h-100">
            <div class="col-md-6 col-lg-6">
                <div class="banner-left">
                    <h2 class="animate__animated animate__fadeInLeft">Get Your Free 2 Weeks Trial Right Here</h2>
                    <p class="animate__animated animate__fadeInLeft">
                        Celebrated delightful an especially increasing instrument am. Indulgence contrasted
                        sufficient to unpleasant in insensible favourable.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="banner-right animate__animated animate__fadeInRight">
                    <img src="/assets/home-banner.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>