.header-block {
    .navbar {
        &.navbar-no-bg {
            display: block;
            position: absolute;
            width: 100%;
            z-index: 100;
            box-shadow: 0 0 0;
            -moz-box-shadow: 0 0 0;
            -webkit-box-shadow: 0 0 0;

            &.scroll-class {
                position: fixed;
                animation: slide-down 0.35s;
                z-index: 10;
                background-color: var(--white-color);
                box-shadow: 0 0 20px -1px rgb(0 0 0 / 10%);
                backdrop-filter: blur(12px);
                color: var(--dark-color);
                height: 70px;
                display: flex;
                align-items: center;
                transition: ease-in-out;
                .white-logo {
                    display: none !important;
                }
                .navbar-brand{
                    display: flex;
                }
                .blue-logo {
                    display: block !important;
                    height: 50px !important;
                }
                .nav-link {
                    color: var(--dark-color) !important;
                }
            }

            .container {
                max-width: 1200px;
                .blue-logo {
                    display: none;
                }
                .nav-img-block {
                    flex-basis: auto;
                }

                .navbar-brand {
                    .img-fluid {
                        height: 60px;
                        max-height: 100%;
                    }
                }

                .navbar-collapse {
                    justify-content: flex-end;

                    .nav-item {
                        position: relative;
                        display: inline-block;

                        .nav-link {
                            padding: 30px 20px;
                            font-weight: 700;
                            font-size: 14px;
                            text-transform: uppercase;
                            font-family: var(--font-default);
                            color: var(--white-color);
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:748px) {
    .header-block {
        .navbar {
            .container {
                padding: 0 !important;
                
                .nav-img-block {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: -webkit-fill-available;

                    a,
                    button {
                        margin-right: 10px;
                    }
                }

                .navbar-collapse {
                    background-color: #74c1d9;
                }
            }
        }
    }
}