<footer class="footer-block">
    <div class="container">
        <div class="footer-items">
            <div class="row">
                <div class="col-md-6 col-lg-4 col-sm-12">
                    <div class="footer-about">
                        <img src="/assets/varcas-logo-white.png" alt="">
                        <p>
                            Varcas Info Systems is a visionary company which moulds trainees to professionals by
                            teaching with
                            integrity
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-sm-12">
                    <div class="nav-link-f-block">
                        <h4>Quick LInk</h4>
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="f-contact-block">
                        <h4>Contact Info</h4>
                        <div class="address-list mt-5">
                            <ul>
                                <li>
                                    <div class="c-icon-block">
                                        <fa-icon class="c-icon" [icon]="['fas', 'home']"></fa-icon>
                                    </div>
                                    <div class="c-content">
                                        <strong>Address: </strong>
                                        8-2-134/10, Pratap Nagar, Punjagutta, Beside NextgalleriaMall, Hyderabad,500082
                                    </div>
                                </li>
                                <li>
                                    <div class="c-icon-block">
                                        <fa-icon class="c-icon" [icon]="['fas', 'envelope']"></fa-icon>
                                    </div>
                                    <div class="c-content">
                                        <strong>Email: </strong>
                                        <span>
                                            <a href="mailto:info@varcasinfo.com">info@varcasinfo.com</a>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="c-icon-block">
                                        <fa-icon class="c-icon" [icon]="['fas', 'phone']"></fa-icon>
                                    </div>
                                    <div class="c-content">
                                        <strong>Phone Numbers: </strong>
                                        +91 9908219413
                                        <br />
                                        +91 9493646320
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-light justify-content-evenly copyRight align-items-center py-4">
            <div class="col-6">
                <p>© Copyright 2023. All rights reserved. <span class="text-primary">VARCAS</span>. Designed by
                    <span class="text-primary">VARCAS</span></p>
            </div>
            <div class="col-5">
                <ul class="d-flex w-100 justify-content-evenly">
                    <li>Privacy Policy</li>
                    <li>Refund and Return Ploicy</li>
                </ul>
            </div>
        </div>
    </div>
</footer>