<div class="about-us-block">
    <section>
        <header class="page-header">
            <div class="container mw-80">
                <div class="page-title">
                    <ul class="page-title-elements page-title-center pull-center">
                        <h1 class="page-title-heading">Who We Are</h1>
                        <div class="breadcrumbs-wrap">
                            <li class="breadcrumb-wrap">
                                <ul id="breadcrumb" class="breadcrumb nav">
                                    <li><a class="text-decoration-none text-white"
                                            routerLink="/home"><span>Home</span></a>
                                        <fa-icon [icon]="['fas', 'angle-right']" class="mx-3"></fa-icon>
                                    </li>
                                    <li>Who We Are</li>
                                </ul>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </header>
    </section>
    <section>
        <div class="about-content">
            <div class="row m-0">
                <div class="col-12">
                    <article class="container">
                        <div class="row mx-5">
                            <div class="ab-heading-block">
                                <p class="subtitle">History</p>
                                <h3>We, Varcas Info Systems India Pvt Ltd., established in the year 2021 is moving
                                    forward by delivering unlimited services to the clients in unanimous way. We are
                                    mainly positioning the prime regions in the city as well. We are also an ISO
                                    9001:2015 certified organization with successful completion of these years.</h3>
                            </div>
                            <div class="b-shadow d-flex align-items-center justify-content-center flex-wrap">
                                <div class="col-md-4 col-lg-4 col-sm-12">
                                    <div class="ab-card">
                                        <div class="card-inside">
                                            <figure>
                                                <img width="64" height="64" src="/assets/history-ab.png"
                                                    class="img-fluid" alt="">
                                            </figure>
                                            <h5>Our History</h5>
                                            <div class="ab-card-content">We, Varcas Info Systems India Pvt Ltd.,
                                                established in the year 2021 is moving forward by delivering unlimited
                                                services to the clients in unanimous way. We are mainly positioning the
                                                prime regions in the city as well. We are also an ISO 9001:2015
                                                certified organization with successful completion of these years.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4 col-sm-12">
                                    <div class="ab-card">
                                        <div class="card-inside">
                                            <figure>
                                                <img width="64" height="64" src="/assets/mission-ab.png"
                                                    class="img-fluid" alt="">
                                            </figure>
                                            <h5>Our Mission</h5>
                                            <div class="ab-card-content">We, Varcas Info Systems India Pvt Ltd, are here
                                                to deliver market defining high quality services to our customers in
                                                unique and budget-friendly way. We have a professional qualified team to
                                                enhance the business of clients with consistent competitive advantage
                                                around the world.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4 col-sm-12">
                                    <div class="ab-card">
                                        <div class="card-inside">
                                            <figure>
                                                <img width="64" height="64" src="/assets/vision-ab.png"
                                                    class="img-fluid" alt="">
                                            </figure>
                                            <h5>Our Vision</h5>
                                            <div class="ab-card-content">We take pride to deliver the services like Web
                                                App Development, Mobile App Development, Saas Development, UX/UI Design,
                                                Manual Testing and Automation Testing in time. Customer satisfaction
                                                turns to be our outmost importance to the company.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="team-mates-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="t-section-header text-center">
                        <h2>Innovative Team</h2>
                        <div class="s-divider"></div>
                        <p>
                            We have a professional qualified team to enhance the business of clients with consistent
                            competitive advantage around the world.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="team-mates mt-4">
                <div class="row">
                    <div class="col-lg-4 col-sm-12 col-md-4">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="https://wordpress.validthemes.net/appku/wp-content/uploads/2022/07/1.jpg"
                                    alt="">
                                <div class="t-social">
                                    <input type="checkbox" id="check" hidden="" [checked]="socialShareToogle"
                                        (change)="toggleChange($event)" class="share-toggle">
                                    <label for="check" class="share-list-btn">
                                        <fa-icon [icon]="['fas', 'plus']" class="plus-btn"></fa-icon>
                                    </label>
                                    <a href="http://facebook.com" class="share-icon facebook">
                                        <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
                                    </a>
                                    <a href="http://twitter.com" class="share-icon twitter">
                                        <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                                    </a>
                                    <a href="http://instagram.com" class="share-icon instagram">
                                        <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                                    </a>
                                </div>
                            </div>
                            <div class="team-info">
                                <h4>S Venugopal</h4>
                                <span>CEO & MD</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12 col-md-4">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="https://wordpress.validthemes.net/appku/wp-content/uploads/2022/07/1.jpg"
                                    alt="">
                                <div class="t-social">
                                    <input type="checkbox" id="check" hidden="" [checked]="socialShareToogle"
                                        (change)="toggleChange($event)" class="share-toggle">
                                    <label for="check" class="share-list-btn">
                                        <fa-icon [icon]="['fas', 'plus']" class="plus-btn"></fa-icon>
                                    </label>
                                    <a href="http://facebook.com" class="share-icon facebook">
                                        <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
                                    </a>
                                    <a href="http://twitter.com" class="share-icon twitter">
                                        <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                                    </a>
                                    <a href="http://instagram.com" class="share-icon instagram">
                                        <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                                    </a>
                                </div>
                            </div>
                            <div class="team-info">
                                <h4>S Venugopal</h4>
                                <span>CEO & MD</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12 col-md-4">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="https://wordpress.validthemes.net/appku/wp-content/uploads/2022/07/1.jpg"
                                    alt="">
                                <div class="t-social">
                                    <input type="checkbox" id="check" hidden="" [checked]="socialShareToogle"
                                        (change)="toggleChange($event)" class="share-toggle">
                                    <label for="check" class="share-list-btn">
                                        <fa-icon [icon]="['fas', 'plus']" class="plus-btn"></fa-icon>
                                    </label>
                                    <a href="http://facebook.com" class="share-icon facebook">
                                        <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
                                    </a>
                                    <a href="http://twitter.com" class="share-icon twitter">
                                        <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                                    </a>
                                    <a href="http://instagram.com" class="share-icon instagram">
                                        <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                                    </a>
                                </div>
                            </div>
                            <div class="team-info">
                                <h4>S Venugopal</h4>
                                <span>CEO & MD</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="why-choose">
        <div class="container-fluid">
            <div class="row w-100">
                <div class="col-md-6 col-sm-12 col-lg-6">
                    <div class="why-img">
                        <img src="/assets/why-choose-us.png" alt="Why choose us" class="w-100">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-lg-6 ps-5">
                    <div class="why-choose-content">
                        <h2>Why choose us</h2>
                        <h3>Create your app page With expert developer</h3>
                        <p>We are here to deliver unique professional website development, mobile application, web
                            design, enterprise portals, e-commerce application, web designing, HTML, etc as per the
                            clients needs to enrich business development in one single step.We stand out as a top and
                            more reputed Software Development Company in India by creating unique digital
                            experiences.We, Varcas Info Systems in India’s Hyderabad, is here to deliver the latest
                            technology for website designing and development with best solutions for SEO, SEM, SMM etc.
                            Our main theme is also to have a single point of contact to manage our client services and
                            specializes in development of different software in a unique methodology. Our tremendous
                            leadership qualities and the capacity to create vision in many our services as well.We,
                            Varcas Info Systems India Pvt Ltd, are here to deliver market defining high quality services
                            to our customers in unique and budget-friendly way. We have a professional qualified team to
                            enhance the business of clients with consistent competitive advantage around the world.We
                            take pride to deliver the services like Web App Development, Mobile App Development, Saas
                            Development, UX/UI Design, Manual Testing and Automation Testing in time. Customer
                            satisfaction turns to be our outmost importance to the company. We believe to be a vibrant
                            organization with openness to work, simplicity, teamwork, trust, innovations which are very
                            important in every aspect. We make a strong desire to meet the expectations of our
                            customers, employees and partners.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>