<div class="about-us-block">
    <section>
        <header class="page-header">
            <div class="container mw-80">
                <div class="page-title">
                    <ul class="page-title-elements page-title-center pull-center">
                        <h1 class="page-title-heading">Who We Are</h1>
                        <div class="breadcrumbs-wrap">
                            <li class="breadcrumb-wrap">
                                <ul id="breadcrumb" class="breadcrumb nav">
                                    <li><a class="text-decoration-none text-white"
                                            routerLink="/home"><span>Home</span></a>
                                        <fa-icon [icon]="['fas', 'angle-right']" class="mx-3"></fa-icon>
                                    </li>
                                    <li>Who We Are</li>
                                </ul>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </header>
    </section>
    <section>
        <div class="about-content">
            <div class="row">
                <div class="col-12">
                    <article class="container">
                        <div class="row mx-5">
                            <div class="ab-heading-block">
                                <p class="subtitle">History</p>
                                <h3>We Have a Great History to Start Our Company.</h3>
                            </div>
                            <div class="b-shadow d-flex align-items-center justify-content-center">
                                <div class="col-md-4 col-lg-4 col-sm-12">
                                    <div class="ab-card">
                                        <div class="card-inside">
                                            <figure>
                                                <img width="64" height="64"
                                                    src="/assets/history-ab.png"
                                                    class="img-fluid" alt="">
                                            </figure>
                                            <h5>Our History</h5>
                                            <div class="ab-card-content">Convert data noise to intelligent insights for
                                                competitive differention qulaity check consequences.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4 col-sm-12">
                                    <div class="ab-card">
                                        <div class="card-inside">
                                            <figure>
                                                <img width="64" height="64"
                                                    src="/assets/mission-ab.png"
                                                    class="img-fluid" alt="">
                                            </figure>
                                            <h5>Our Mission</h5>
                                            <div class="ab-card-content">Convert data noise to intelligent insights for
                                                competitive differention qulaity check consequences.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4 col-sm-12">
                                    <div class="ab-card">
                                        <div class="card-inside">
                                            <figure>
                                                <img width="64" height="64"
                                                    src="/assets/vision-ab.png"
                                                    class="img-fluid" alt="">
                                            </figure>
                                            <h5>Our Vision</h5>
                                            <div class="ab-card-content">Convert data noise to intelligent insights for
                                                competitive differention qulaity check consequences.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="why-choose">
        <div class="row mx-5">
            <div class="col-md-4">
                <div class="why-img-block">

                </div>
            </div>
        </div>
    </section>
</div>