<div>
    <!-- Breadcrumbs Start -->
    <div class="rs-breadcrumbs img3">
        <div class="breadcrumbs-inner text-center">
            <h1 class="page-title">Web Development</h1>
            <ul>
                <li title="Braintech - IT Solutions and Technology Startup HTML Template">
                    <a class="active" routerLink="/home">Home</a>
                </li>
                <li title="Go To Services">
                    <a class="active" routerLink="/services">Services</a>
                </li>
                <li routerLink="/web-app">Web Development</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumbs End -->
    <div class="web-dev-sec container">
        <div class="row justify-content-between w-100">
            <div class="col-md-9">
                <div class="row justify-content-evenly align-items-center">
                    <div class="resp-text col-lg-6 col-md-6 col-sm-8">
                        <h2>Why to choose Varcas IT company?</h2>
                        <p>Varcas Info Systems India Pvt Ltd is considered as the Top Web Development Companies in
                            Hyderabad which will help to create future-rich and fast performing web software with unique
                            user experience. We have a bunch of team experts for delivering the corporate and custom
                            facing websites or web apps in time. We have a full-fledged team to make your business with
                            best digital presence and create an important factor for branding purpose. Here are the
                            important factor below for choosing best Web App Development Company in India.
                        </p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-8 h-100">
                        <img src="/assets/Why-choose.png" alt="Why to choose" class="w-100 h-100">
                    </div>
                </div>
            </div>
            <div class="col-md-3">

                <div>
                    <div class="services-add mb-50 mt-50">
                        <div class="address-item mb-35">
                            <div class="address-icon">
                                <i class="fa fa-phone"></i>
                            </div>
                        </div>
                        <h2 class="title">Have any Questions? <br> Call us Today!</h2>
                        <div class="contact">
                            <a href="tel:123222-8888">9493646320</a>
                        </div>
                    </div>
                </div>

                <!-- Brouchers -->

                <div class="brouchers">
                    <h3>Brochures</h3>
                    <p>If you have any queries regarding institute call 9493646320</p>
                    <div class="pdf-btn">
                        <a class="readon learn-more pdf" href="#">Download Now<i class="fa fa-file-pdf-o"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-evenly my-5 align-items-center w-100">
            <div class="col-lg-5 col-md-5 col-sm-10">
                <img src="/assets/Benefits-to-choose.avif" alt="" class="w-100 h-100 rounded">
            </div>
            <div class="resp-text col-lg-6 col-md-6 col-sm-10">
                <h2>Benefits to choose Varcas IT company?</h2>
                <p>Varcas IT Info Systems Pvt Ltd is considered as one of the top notch Best Web Development
                    Company
                    in UK as well that deliver services in time. You can easily run the web application with
                    lower
                    technical possibilities to run it in normal way. Our team experts will be updating the web
                    application day to day to keep the features fresh in the web page. One can access the web
                    application from any where and run on the multiple platforms as well.
                </p>
            </div>
        </div>
        <div class="row justify-content-evenly my-5 align-items-center">
            <div class="resp-text col-lg-6 col-md-6 col-sm-10">
                <h2>Know more about Varcas Info Systems India Pvt Ltd ?</h2>
                <p>We, the Varcas Info Systems India Pvt Ltd is considered as the best Custom Web Application
                    Development Services in Hyderabad that delivers state-of-art development services to
                    industry leaders with spot-on technology. Our Fintech experts only hire bets minds in the
                    industry which allow to broaden the knowledge across the multiple fintech verticals. Our
                    main aim is to deliver excellence than what our customers imagine and think beyond that. Our
                    company is considered as a strong believer in data-driven approach in terms of an agile
                    application development and analytics-driven approaches. The Best Web App Development
                    Company in Canada is here to create some emotional connections with the clients and the
                    work, ultimately stimulating the end users with professional and useful mobile apps.
                </p>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-10">
                <img src="/assets/More-about-us.jpeg" alt="" class="w-100 h-100 rounded">
            </div>
        </div>
    </div>

    <!-- Get in touch -->
    <div class="getintouch pt80 pb80">
        <div class="container">
            <div class="cta-wrap">
                <div class="row align-items-center">
                    <div class="col-lg-9 col-md-12 md-mb-30">
                        <span>Plan to Start a Project</span>
                        <div class="title-wrap">
                            <h2 class="epx-title">Our Experts Ready to Help You</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 text-right col-md-12">
                        <div class="button-wrap">
                            <a class="readon learn-more" href="#">Get In Touch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>