.home-page-block {
    .what-we-do-block {
        background-color: #F2F2F242;
        transition: 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
        padding: 130px 0px 100px 0px;

        .what-heading-block {
            margin: 0px 0px 50px 0px;

            .sub-heading {
                color: #0061EA;
                margin-bottom: 15px;
                font-weight: 600;
                font-size: 15px;
                font-family: var(--font-default);
            }

            .heading {
                color: #0B1460;
                margin-bottom: 25px;
                font-size: 40px;
                font-family: var(--font-default) !important;
            }
        }

        .container {
            max-width: 1200px;
        }

        .feature-block {
            padding: 45px 30px 45px 30px;
            background-color: #FFFFFF;
            border-style: solid;
            border-width: 1px 1px 1px 1px;
            border-color: #F7F7F7;
            text-align: center;
            position: relative;
            height: 400px;

            &:before {
                content: "";
                position: absolute;
                left: -20px;
                width: 125px;
                height: 125px;
                top: -20px;
                border-left: 1px solid #e2edfd;
                border-top: 1px solid #e2edfd;
            }

            &:after {
                content: "";
                position: absolute;
                left: -24px;
                top: -20px;
                width: 8px;
                height: 8px;
                background: #0061ea !important;
                z-index: 9;
                -webkit-transition: all .3s ease;
                transition: all .3s ease;
                border-radius: 50%;
            }

            .feature-inside {
                transition: all 0.3s ease-in-out 0s;
                position: relative;

                .featue-image-box {
                    width: 60%;
                    max-width: 60%;
                    margin-bottom: 30px !important;
                    -webkit-transition: all .3s ease;
                    transition: all .3s ease;
                    display: inline-block;

                    img {
                        width: 60%;
                        max-width: 60%;
                        height: auto;
                    }
                }

                h5 {
                    color: var(--blue-dark-color);
                    margin-bottom: 20px;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 30px;
                }

                .f-box-content {
                    margin-bottom: 35px;
                    color: #60697b;
                    font-size: 15px;
                    line-height: 24px;
                }

                .f-box-button {
                    button {
                        background-color: #0061EA;
                        border-radius: 50% 50% 50% 50%;
                        padding: 15px 20px 15px 20px;
                        color: #fff;
                        fill: #fff;
                        text-align: center;
                        transition: all .3s;
                        font-size: 15px;
                        display: inline-block;
                        outline: none;
                        border: none;

                        &:hover {
                            background-color: #0B1460;
                        }
                    }
                }

            }
        }
    }
}

// Solutions block
.solution {
    background-image: url("/assets/solutions_background.webp");
    font-size: 190px;
    font-weight: 900;
    line-height: 210px;
    text-align: center;
    color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    background-position: center center;
    background-attachment: fixed;
    font-family: Playfair Display;
}

.solution-block {
    background-image: url('/assets/solutions_block_bg.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    h5 {
        color: #0061EA;
        font-weight: 600;
    }

    span {
        color: #0061EA;
    }
}

.box {
    box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.2);
}

.getIt {
    font-size: 40px;
    color: #0B1460;
    font-weight: 700;
    line-height: 50px;
}

.me-3 {
    font-size: 25px;
}

// carousal block
.carousal-item {
    background-image: url("/assets/carousel_bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center left;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-bottom: 150px;

    .carousel {
        height: 600px;
    }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: flex !important;
}

.carousel-item.active {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .text99 {
        font-size: 120px;
        color: #0061ea;
        font-family: 'themify';
    }

    .lorem {
        font-size: 30px;
        font-weight: 600;
        color: #0B1460;
        line-height: 40px;
    }

    h5 {
        color: #0B1460;
        font-weight: 700;
    }

    .ceo {
        color: #60697b;
        font-size: 15px;
    }
}

.carousel-control-next {
    left: 31%;
    bottom: 77%;
    opacity: 1;
}

.carousel-control-prev {
    bottom: 93%;
    left: 31%;
    opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 40px;
    height: 40px;
    background-size: 15px;
    background-color: #0061ea;
}

.carousel-indicators {
    bottom: 45px;

    button {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #0061EA;
    }
}

// FAQ 
.faq-block {
    background-image: url("/assets/faq-bg.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;

    .row {
        box-shadow: 0px 10px 60px 0px rgba(38.00000000000001, 103.00000000000009, 255, 0.1);
    }

    .faq-image img {
        height: 600px;
        border-radius: 10px;
        box-shadow: -17px -15px 0px 1px #0061EA;
    }

    .faq-text {
        .faq-content {
            p {
                color: #0061EA;
                font-weight: 600;
            }

            h1 {
                color: #0B1460;
                font-size: 38px;
                line-height: 50px;
            }
        }

        .faq-accordion {
            .accordion-item {
                h2.accordion-header {
                    margin: 0;
                }

                .accordion-header {
                    button {
                        background-color: #F1F5FD !important;
                    }
                }
            }
        }
    }
}

// Work Process block
.work-process-block {
    background-image: url("/assets/work-process-bg-1.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 6% auto;
    padding-top: 150px;

    .work-process-heading {
        p {
            color: #0061EA;
            font-weight: 600;
        }

        h1 {
            color: #0b1460;
            font-family: Playfair Display;
            font-weight: 700;
            font-size: 40px;
            line-height: 50px;
        }
    }

    .work-process-bg {
        background-image: url("/assets/work-process-bg-2.png");
        background-position: -135px 49px;
        background-repeat: no-repeat;
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
        opacity: 0.1;
    }

    .work-process-steps {
        .work-process-step1 {
            top: -40px;
            transition: all 0.3s ease-in-out;
        }

        .work-process-step1:hover {
            top: -50px;

            .work-icon {
                background-color: #0B1460;
            }
        }

        .work-process-step2 {
            top: 70px;
            transition: all 0.3s ease-in-out;
        }

        .work-process-step2:hover {
            top: 60px;

            .work-icon {
                background-color: #0B1460;
            }
        }

        .work-process-step3 {
            top: -40px;
            transition: all 0.5s ease-in-out;
        }

        .work-process-step3:hover {
            top: -50px;

            .work-icon {
                background-color: #0B1460;
            }
        }

        .work-icon {
            background-color: #0061EA;
        }
    }
}

// Our Clients Block
.our-client-block {
    margin-bottom: 150px;

    h2 {
        color: #0b1460;
        font-family: Playfair Display;
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
    }

    .image {
        position: relative;
        transition: all 5s ease-in-out;
    }

    .image-box {
        visibility: hidden;
        padding: 30px;
        background-color: #000000DE;
        border: 1px solid #fff;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.4 !important;
    }

    .image:hover .image-box {
        visibility: visible;
    }

}

@media (max-width:1243px) {
    .home-page-block {
        .work-process-block {
            .work-process-bg {
                background-position: -300px 30px;
            }
        }

        .what-we-do-block {
            .what-heading-block {
                .heading {
                    font-size: 22px;
                }
            }
        }
    }
}

@media (max-width:748px) {
    .solution {
        font-size: 60px;
        line-height: 60px;
    }

    .getIt {
        font-size: 30px;
    }

    .box {
        width: 90% !important;
        margin: auto;
    }

    .solution-block {
        .col-4 {
            width: 100%;
        }
    }

    .work-process-block {
        padding-top: 40px;

        .work-process-heading {
            width: 100% !important;

            h1 {
                font-size: 28px;
            }
        }

        .work-process-steps {
            flex-direction: column;

            .work-process-step1 {
                top: 0;
            }

            .work-process-step1:hover {
                top: -20px;
            }

            .work-process-step2 {
                top: 0;
            }

            .work-process-step2:hover {
                top: -20px;
            }

            .work-process-step3 {
                top: 0;
            }

            .work-process-step3:hover {
                top: -20px;
            }
        }
    }

    .faq-block {
        .faq-image {
            padding: 20px !important;
        }

        .faq-text {
            width: 100%;

            .faq-content {
                h1 {
                    font-size: 28px;
                    line-height: 40px;
                }
            }
        }
    }

    .carousel-item.active {
        flex-direction: column;

        .text99 {
            display: none;
        }

        .lorem {
            font-size: 18px;
            line-height: 30px;
            margin-bottom: 10px !important;
        }
    }

    .carousel-item {
        .carousel {
            height: auto;
        }

        img {
            height: 400px;
        }
    }

    .carousal-item {
        margin-bottom: 10px;
        text-align: center;
    }

    .carousel-control-next,
    .carousel-control-prev {
        left: 94%;
    }

    .carousel-indicators {
        bottom: -65px;
    }
}