.home-page-block {
    .what-we-do-block {
        background-color: #F2F2F242;
        transition: 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
        padding: 130px 0px 100px 0px;

        .what-heading-block {
            margin: 0px 0px 50px 0px;

            .sub-heading {
                color: #0061EA;
                margin-bottom: 15px;
                font-weight: 600;
                font-size: 15px;
                font-family: var(--font-default);
            }

            .heading {
                color: #0B1460;
                margin-bottom: 25px;
                font-size: 40px;
                font-family: var(--font-default) !important;
            }
        }

        .container {
            max-width: 1200px;
        }

        .feature-block {
            padding: 45px 30px 45px 30px;
            background-color: #FFFFFF;
            border-style: solid;
            border-width: 1px 1px 1px 1px;
            border-color: #F7F7F7;
            text-align: center;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                left: -20px;
                width: 125px;
                height: 125px;
                top: -20px;
                border-left: 1px solid #e2edfd;
                border-top: 1px solid #e2edfd;
            }

            &:after {
                content: "";
                position: absolute;
                left: -24px;
                top: -20px;
                width: 8px;
                height: 8px;
                background: #0061ea !important;
                z-index: 9;
                -webkit-transition: all .3s ease;
                transition: all .3s ease;
                border-radius: 50%;
            }

            .feature-inside {
                transition: all 0.3s ease-in-out 0s;
                position: relative;

                .featue-image-box {
                    width: 60%;
                    max-width: 60%;
                    margin-bottom: 30px !important;
                    -webkit-transition: all .3s ease;
                    transition: all .3s ease;
                    display: inline-block;

                    img {
                        width: 60%;
                        max-width: 60%;
                        height: auto;
                    }
                }

                h5 {
                    color: var(--blue-dark-color);
                    margin-bottom: 20px;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 30px;
                }

                .f-box-content {
                    margin-bottom: 35px;
                    color: #60697b;
                    font-size: 15px;
                    line-height: 24px;
                }

                .f-box-button {
                    button {
                        background-color: #0061EA;
                        border-radius: 50% 50% 50% 50%;
                        padding: 15px 20px 15px 20px;
                        color: #fff;
                        fill: #fff;
                        text-align: center;
                        transition: all .3s;
                        font-size: 15px;
                        display: inline-block;
                        outline: none;
                        border: none;

                        &:hover {
                            background-color: #0B1460;
                        }
                    }
                }

            }
        }
    }
}


.solution {
    font-size: 190px;
    font-weight: 900;
    line-height: 210px;
    text-align: center;
    color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    background-position: center center;
    background-attachment: fixed;
    background-image: url("../../assets/solutions_background.webp");
}

.box {
    box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.2);

}

.getIt {
    font-size: 40px;
    color: #0B1460;
    font-weight: 700;
    line-height: 50px;
}

.me-3 {
    font-size: 25px;
}

.carousal-item {
    background-image: url("../../assets/carousel_bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center left;
    // background-attachment: fixed;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.carousel-item.active {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .text99 {
        font-size: 120px;
        color: #0061ea;
        font-family: 'themify';
    }

    .lorem {
        font-size: 30px;
        font-weight: 600;
        color: #0B1460;
        line-height: 40px;
    }

    h5 {
        color: #0B1460;
        font-weight: 700;
    }

    .ceo {
        color: #60697b;
        font-size: 15px;
    }
}

.carousel-control-next {
    left: 31%;
    bottom: 77%;
    opacity: 1;
}

.carousel-control-prev {
    bottom: 93%;
    left: 31%;
    opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: 20px;
    background-color: #0061ea;
}

.carousel-indicators {
    bottom: -70px;

    button {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #0061EA;
    }
}