<div class="home-page-block">
    <app-home-banner></app-home-banner>
    <!-- Start of what we do -->
    <section class="what-we-do-block">
        <div class="what-heading-block text-center">
            <p class="sub-heading">What We Do ?</p>
            <h2 class="heading">We provide high quality technology services</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-lg-4 px-4">
                    <div class="feature-block animate__animated animate__fadeInUp">
                        <div class="feature-inside">
                            <figure class="featue-image-box">
                                <img src="/assets/feature-1.png" class="img-fluid" alt="">
                            </figure>
                            <h5>Business Strategy</h5>
                            <div class="f-box-content">
                                Septa ricadus augue eget dui volu tpat, vitae ultri lectus posuere. Duis urna deradture
                                austrim.
                            </div>
                            <div class="f-box-button">
                                <button>
                                    <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-lg-4 px-4">
                    <div class="feature-block animate__animated animate__fadeInUp">
                        <div class="feature-inside">
                            <figure class="featue-image-box">
                                <img src="/assets/feature-2.png" class="img-fluid" alt="">
                            </figure>
                            <h5>UX & Product Design</h5>
                            <div class="f-box-content">
                                Septa ricadus augue eget dui volu tpat, vitae ultri lectus posuere. Duis urna deradture
                                austrim.
                            </div>
                            <div class="f-box-button">
                                <button>
                                    <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-lg-4 px-4">
                    <div class="feature-block">
                        <div class="feature-inside animate__animated animate__fadeInUp">
                            <figure class="featue-image-box">
                                <img src="/assets/feature-3.png" class="img-fluid" alt="">
                            </figure>
                            <h5>App Development</h5>
                            <div class="f-box-content">
                                Septa ricadus augue eget dui volu tpat, vitae ultri lectus posuere. Duis urna deradture
                                austrim.
                            </div>
                            <div class="f-box-button">
                                <button>
                                    <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of what we do -->
</div>